@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    margin: 0;
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #d3b683;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #595a5f;
}

.stock-heading{
    font-family: "Playfair Display";
    -webkit-text-stroke: 1px #f9b615;
    font-weight: bolder;
    color: transparent;
    margin: 0;
}
.golden{
    background-color: linear-gradient(to right,gold,#f9b615);
}
.sh{
    color: #ffbf00;
    text-shadow: 1px 5px 5px rgba(255, 191, 105, 1.577);
}